.playerDefault {
  height: 50px;
  width: 50px;
  background-image: url('./grass.jpg')
}
.playerX {
  
  height: 50px;
  width: 50px;
  background-image: url('./Mario.png')
}
.playerO {
  background-color: blue;
  height: 50px;
  width: 50px;
  background-image: url('./marioM.jpeg');
  color: transparent;
}
.new {
  background-color: yellow;
  height: 50px;
  width: 50px;
}
