.playerDefault {
  height: 50px;
  width: 50px;
  background-image: url('./grass.jpg');
  color: transparent;
}
.playerX {
  height: 50px;
  width: 50px;
  background-image: url('./mariosmall.png');
  color: transparent;
}
.playerO {
  height: 50px;
  width: 50px;
  background-image: url('./luigi.png');
  color: transparent;
}
.smallmushroom {
  background-image: url('./blue-mushroom.png');
  height: 50px;
  width: 50px;
  color: transparent;
}

.mediummushroom {
  background-image: url('./red-white-mashroom.png');
  height: 50px;
  width: 50px;
  color: transparent;
}

.bigmushroom {
  background-image: url('./golden-mushroom.png');
  height: 50px;
  width: 50px;
  color: transparent;
}

.poison {
  background-image: url('./green-mushroom.jpg');
  height: 50px;
  width: 50px;
  color: transparent;
}