rulesImage {
    position: relative;
    text-align: center;

  
}
h1 {
    margin-top: 90px;
}

h2 {

    display: inline-block;
    width:  49%;
    padding: auto;
    font-size: 30px;
    font: sans-serif;
}
rulecontainer {
    text-align: center;
    width: 50px;
    margin-left: 60px;
}